.card{
    margin-top: 119px;
    border: none;

}
.discography{
    margin-top: 73px;
    margin-left: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5em;
color: #FFFFFF;

}

.discographyCard{
    margin-top: 25px;
    width: 80%;
    height: 341px; 
}